
@{
    ViewBag.Title = "DashRestaurant";
}
<br />
<a href="/Main/logout">
    <button style="float:right" class="btn-warning col-lg-1">Logout</button>
</a>

<h2>Restaurant Dashboard</h2>
<a href="/Main/MakeRequest">
    <button class="btn-info col-lg-4">Create a Request</button>
</a>
<br />
<br />

<a href="/Main/ShowRequest">
    <button class="btn-info col-lg-4">Show Requests</button>
</a>

