
@{
    ViewBag.Title = "DashEmployee";
}
<br />
<a href="/Main/logout">
    <button style="float:right" class="btn-warning col-lg-1">Logout</button>
</a>

<h2>Employee Dashboard</h2>

<a href="/Main/ChangeStatus">
    <button class="btn-info col-lg-4">Complete Pending Pickups</button>
</a>
<br />
<br />

<a href="/Main/CompletedRequests">
    <button class="btn-info col-lg-4">View Completed Requests</button>
</a>

