
@{
    ViewBag.Title = "Home";
}
<br />
<a href="/Main/login">
    &nbsp;<button style="float:right" class="btn-warning col-lg-1">Login</button>
</a>
<small style="float:right">Alrady have an account? &nbsp;</small>
<br />

<h2>HomePage</h2>

<a href="/Main/AddRestaurant">
    <button class="btn-info col-lg-4">Add Restaurant</button>
</a>
<a href="/Main/AddAdmin">
    <button class="btn-info col-lg-4">Add Admin</button>
</a>
<a href="/Main/AddEmployee">
    <button class="btn-info col-lg-4">Add Employee</button>
</a>
<br />
<br />





